body {
  /* overflow-x: hidden; */
}

.container {
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-bottom: 60px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */

.label {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
}

.header-logo {
  display: flex;
  position: fixed;
  top: 40px;
  left: 40px;
}

.header-menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.header-buttom {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: .3s ease;
}

.header-buttom.active {
  opacity: 0;
  visibility: hidden;
}

.header-buttom1 {
  width: 90px;
  height: 90px;
  background-color: #b49ae0;
  text-align: center;
  padding-top: 1em;
}

.header-buttom1 img {
  width: 30px;
  margin: 0;
  padding: 0;
}

.header-buttom1 a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  text-align: center; 
  font-size: 0.9em;
}

.header-buttom1 p {
  line-height: 1.2em;
  margin-bottom: 5px;
  position: relative;
  bottom: 3px;
}

.header-buttom1 span {
  display: inline-block;
}

.header-buttom2 {
  width: 90px;
  height: 90px;
  background-color: #458ddf;
  text-align: center;
  padding-top: 1em;
}

.header-buttom2 img {
  width: 30px;
  margin: 0;
  padding: 0;
}

.header-buttom2 a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  text-align: center;
  font-size: 0.9em;
}

.header-buttom2 p {
  line-height: 1.2em;
  margin-bottom: 5px;
  position: relative;
  bottom: 3px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: white;
}

@media screen and (min-width: 768px) {

  .hamburger.hum-hover:hover {

    .bar-span::before {
      width: 20px;
    }
    
    .bar-span::after {
      width: 10px;
    }
  }
  
}

.hamburger.active .bar-span::before {
  top: 3px;
  border-bottom: 2px solid white;
}
.hamburger.active .bar-span {
  bottom: 0;
  transform: rotate(-50deg);
}

.hamburger.active .bar-span::after {
  top: 0;
  transform: rotate(100deg);
}

.hamburger p {
  position: relative;
  font-size: 1.2rem;
  top: 15px;
  font-weight: bold;
}

.bar {
  width: 30px;
  margin: 0 auto;
}

.bar-span,
.bar-span::before,
.bar-span::after {
  content: '';
  display: block;
  border-bottom: 1px solid red;
  width: 100%;
  height: 2px;
  transition: all 0.5s ease;
}

.bar-span {
  position: relative;
  bottom: 7px;
}

.bar-span::before {
  position: absolute;
  top: 9px;
  border-bottom: 2px solid red;
}

.bar-span::after {
  position: absolute;
  top: 18px;
}

.menu-off {
  position: fixed;
  background-color: white;
  z-index: 1000;
  width: 100vw;
  transition: .3s ease;
  opacity: 0;
  visibility: hidden;
}

.menu-off.active {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
}

/* .menu-copy {
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
} */

.menu-copy h1 {
  font-size: 4.5rem;
}

.menu-copy p {
  font-size: 1.2em;
  font-weight: 500;
}

/* /header */

/* mv */

.mv-container {
  position: relative;
  display: flex;
  /* height: calc(35.10204vw + 298.36735px); */
  margin-bottom: 5.5rem;
}

@media screen and (min-width: 768px) {

  .mv-container img {
    padding: 20px;
    width: 100%;
    height: 510px;
    min-height: 296px;
    border-radius: 30px;
    object-fit: cover;
  }

}

.copy {
  position: absolute;
  bottom: 90px;
  left: 90px;
  color: white;
}

.copy-m {
  display: flex;
}

.copy h1 {
  font-size: calc(3.5102vw + 2.98367rem);
}

.copy p {
  font-size: calc(.81633vw + .89388rem);
  font-weight: 500;
}

/* /mv */

.bosyu-2024 {
  width: 67%;
  margin: 0 auto 5rem auto;
  text-align: center;
  color: #1e90ff;
  border: 1px solid #1e90ff;
  border-radius: 10px;
  padding: 20px 0;
}

.bosyu-2024 h4 {
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 20px;
}

.bosyu-2024 p {
  margin-bottom: 5px;
}

/* pickup */

.pickup {
  position: relative;
  display: flex;
  /* width: 88%; */
  margin-left: auto;
  margin-right: auto;
}

/* .pickup-bg {
  display: flex;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 40px;
} */

.pickup-bg {
  margin-left: 5rem;
  display: flex;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 40px;
  content: '';
  background-color: gray;
  color: black;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  border-radius: 10px 0 0 10px;
}

.pickup-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  font-size: 0.8em;
}

/* .pickup-bg::before {
  content: '';
  background-color: gray;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  border-radius: 10px;
} */

.pickup-contents {
  display: flex;
  margin-left: 30px;
}

.pickup-content {
  /* width: 10rem; */
  margin-right: 20px;
}

.pickup-content a {
  display: block;
  text-decoration: none;
}

.pickup-content img {
  width: 28rem;
  height: 16rem;
  object-fit: cover;
}

.pickup-content p {
  color: white;
  margin-top: 0.5em;
  font-size: 1rem;
  font-weight: 500;
}

/* /pickup */

/* features */

.features {
  margin: 0 30px;
  padding: 0 40px;
  position: relative;
}

.features-border {
  width: 100%;
  margin-top: 100px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.features-border span {
  background-color: white;
}

.features-border::before {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  position: absolute;
  width: 89%;
  z-index: -1;
}

.features-title {
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 38px;
  font-size: 3rem;
  line-height: 1.7em;
  letter-spacing: 0.15em;
}

.features-title h3 {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.15em;
}

.features-contents {
  margin-top: 50px;
  display: flex;
  position: relative;
}

.features-content {
  margin-right: 40px;
}

@media screen and (min-width: 768px) {
  .content-heads {
    max-height: 375px;
  }
}

.content-heads img {
  width: 35rem;
  height: 22rem;
  border-radius: 10px;
  object-fit: cover;
}

.content-head {
  width: 70%;
  position: relative;
  bottom: 50px;
  display: flex;
  right: 9px;
  background-color: white;
  border-radius: 10px;
}

.content-head h3 {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 20px 0 20px 0;
  font-size: 1.4rem;
  position: relative;
  left: 15px;
}

.content-head span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: relative;
  top: 18px;
  left: 4px;
  font-size: 0.8em;
}

.content-head span::after {
  display: block;
  height: 100%;
  content: '';
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border-right: 1px solid black;
  position: absolute;
  left: 10px;
  top: 40px;
}

.content-body {
  position: relative;
  left: 30px;
}

/* /features */

/* topics */
.topics {
  margin: 0 30px;
  padding: 0 40px;
  position: relative;
}

.topics-border {
  width: 100%;
  margin-top: 285px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.topics-border span {
  background-color: white;
}

.topics-border::before {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  position: absolute;
  width: 89%;
  z-index: -1;
}

.topics-container {
  margin-top: 30px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .topics-head {
    margin-top: 30px;
    width: 43%;
  }
}

.topics-title p {
  font-size: 2.3rem;
  text-align: center;
  display: flex;
  font-weight: bold;
}

.topics-title p::before {
  content: '';
  border-right: 1px solid blue;
  transform: rotate(-25deg);
  height: 35px;
  position: relative;
  top: 7px;
  margin: 0 20px;
}

.topics-title p::after {
  content: '';
  border-right: 1px solid blue;
  transform: rotate(25deg);
  height: 35px;
  position: relative;
  top: 7px;
  margin: 0 20px;
}

.topics-title h2 {
  font-size: 5rem;
  line-height: 5rem;
}

.topics-title ul {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  font-weight: 600;
}

.topics-title ul li {
  margin: 5px;
  padding: 5px;
  background-color: gray;
  text-wrap: nowrap;
  border-radius: 3px;
}

.topics-title ul li a {
  text-decoration: none;
  font-size: 0.9em;
}

.topics-buttom-area {
  display: block;
  width: 309px;
  height: 58px;
}

.topics-buttom {
  margin-top: 55px;
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
}

.topics-buttom img {
  width: 20px;
}

.topics-buttom::before {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-right: 1px solid white;
  position: absolute;
  left: 0;
}

.topics-buttom::after {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-left: 1px solid white;
  position: absolute;
  right: 0;
}

.topics-body {
  margin-top: 30px;
  width: 57%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px;
}

.topics-content a img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 316 / 210;
}

.content-date {
  color: gray;
  margin: 30px 0;
  font-weight: 500;
}

.content-tag {
  margin-top: 20px;
  border-top: 1px solid gray;
  padding-top: 20px;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
}

.content-tag li {
  margin-right: 10px;
  margin-bottom: 10px;
  text-wrap: nowrap;
}

.content-tag li::before {
  content: '#';
  color: #1e90ff;
}

/* /topics */

/* course */

.course {
  margin: 0 30px;
  padding: 0 40px;
}

.course-border {
  width: 100%;
  margin-top: 285px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.course-border span {
  background-color: white;
}

.course-border::before {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  position: absolute;
  width: 89%;
  z-index: -1;
}

.course-title {
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 38px;
  font-size: 3rem;
  line-height: 1.7em;
  letter-spacing: 0.15em;
}

.course-title h3 {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.15em;
}

.course-container {
  margin-top: 50px;
}

.course-img {
  margin-right: calc(50% - 50vw);
}

.course-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.course-text {
  width: 53%;
  padding: 40px 0;
  position: relative;
  bottom: 75px;
  display: flex;
  right: 9px;
  background-color: white;
  border-radius: 10px;
}

.course-text h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  position: relative;
  left: 11px;
}

.course-text p {
  margin: auto 0 auto 50px;
}

.course-contents {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  position: relative;
  bottom: 70px;
  box-sizing: border-box;
  gap: calc(3.26531vw + 27.7551px) calc(1.63265vw + 13.87755px);
  margin-bottom: 70px;
}

.course-content {
  margin-bottom: 35px;
}

.content2-head {
  position: relative;
  /* width: 254px; */
}

.content2-head p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  top: 15px;
  right: 10px;
  color: aquamarine;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.content2-head img {
  width: 100%;
  height: 338px;
  object-fit: cover;
  border-radius: 10px;
}

.content2-body {
  text-align: center;
  position: relative;
  top: 20px;
}

.content2-body p {
  font-size: 1.1em;
  font-weight: bold;
}

.content2-body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 20px;
}

.content2-body ul li {
  margin: 0 2px;
  padding: 5px;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}

.course-img1 {
  border-radius: 120px 10px 10px 120px !important;
}

.course-img2 {
  border-radius: 10px 10px 120px 120px !important;
}

.course-img3 {
  border-radius: 10px 10px 10px 70px !important;
}

.course-img4 {
  border-radius: 90px 10px 10px 10px !important;
}

.course-img5 {
  border-radius: 90px 10px 10px 10px !important;
}

.course-img6 {
  border-radius: 120px 10px 10px 120px !important;
}

.course-img7 {
  border-radius: 10px 10px 120px 120px !important;
}

.course-img8 {
  border-radius: 10px 10px 10px 70px !important;
}

.course-img9 {
  border-radius: 10px 10px 10px 90px !important;
}

.course-img10 {
  border-radius: 10px 10px 120px 120px !important;
}

.course-img11 {
  border-radius: 80px 10px 10px 10px !important;
}

.course-img12 {
  border-radius: 120px 10px 10px 120px !important;
}

.course1 li {
  background-color: #75A9FF;
  border-radius: 4px;
}

.course2 li {
  background-color: #CC99CC;
  border-radius: 4px;
}

.course3 li {
  background-color: #66CC99;
  border-radius: 4px;
}

.course4 li {
  background-color: #CD853F;
  border-radius: 4px;
}

.course5 li {
  background-color: #FF97C2;
  border-radius: 4px;
}

.course6 li {
  background-color: #FF9872;
  border-radius: 4px;
}

.course7 li {
  background-color: #888888;
  border-radius: 4px;
}

.course8 li {
  background-color: #FFCC33;
  border-radius: 4px;
}

.course9 li {
  background-color: #9999FF;
  border-radius: 10px;
}

.course10 li {
  background-color: #66FF99;
  border-radius: 4px;
}

.course11 li {
  background-color: #66FFCC;
  border-radius: 4px;
}

.course12 li {
  background-color: #FFCC33;
  border-radius: 4px;
}

/* /course */

/* open-campus */

.open-campus {
  margin: 0 30px;
  padding: 0 40px;
  position: relative;
}

.open-campus-border {
  width: 100%;
  margin-top: 285px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.open-campus-border span {
  background-color: white;
}

.open-campus-border::before {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  position: absolute;
  width: 89%;
  z-index: -1;
}

.open-campus-title {
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 38px;
  font-size: 3rem;
  line-height: 1.7em;
  letter-spacing: 0.15em;
}

.open-campus-container {
  position: relative;
  top: 50px;
}

.open-campus-container ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.open-campus-container ul li {
  text-wrap: nowrap;
  margin: 5px;
  padding: 5px;
  background-color: gray;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 5px;
}

.open-campus-contents {
  display: flex;
}

.open-campus-content {
  margin: 5px 15px;
}

.content3-head {
  margin-bottom: 30px;
}

.content3-head img {
  width: 100%;
  aspect-ratio: 6 / 5;
}

.content3-body h3 {
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.content3-body h4 {
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.content3-body p {
  color: gray;
  margin-top: 20px;
}

.content-foot {
  display: flex;
  margin-top: 20px;
}

.content-foot a {
  width: 50%;
}

.open-campus-buttom1,.open-campus-buttom2 {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 0.9em;
  position: relative;
}

.open-campus-buttom1 img, .open-campus-buttom2 img {
  width: 15px;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

.open-campus-buttom1 {
  background-color: gray;
  margin-right: 5px;
}

.open-campus-buttom2 {
  background-color: #1e90ff;
  color: white;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .open-campus-buttom-area {
    margin: 0 auto;
    display: block;
    width: 309px;
    height: 58px;
  }

  .open-campus-buttom {
    margin-top: 55px;
    width: 309px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
  }
}

.open-campus-buttom img {
  width: 20px;
}

.open-campus-buttom::before {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-right: 1px solid white;
  position: absolute;
  left: 0;
}

.open-campus-buttom::after {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-left: 1px solid white;
  position: absolute;
  right: 0;
}

.open-campus-banner {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.open-campus-banner div a img {
  width: 30rem;
  height: 9rem;
  margin: 0 20px;
  object-fit: cover;
}

/* /open-campus */

/* campus-life */

.campus-life {
  margin: 0 30px;
  padding: 0 40px;
}

.campus-life-border {
  width: 100%;
  margin-top: 50px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.campus-life-title {
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  font-size: 3.1rem;
  letter-spacing: 0.1em;
}

.campus-life-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: calc(2.44898vw + 20.81633px);
}

.campus-life-img img {
  width: 33.5rem;
  height: 39rem;
  object-fit: cover;
  border-radius: 10px;
}

.campus-life-link, .campus-life-head {
  width: 100%;
}

.campus-life-head a ul li {
  display: flex;
  position: relative;
  padding: 28px 0;
  border-top: 1px solid gray;
}

.campus-life-head a ul li:nth-child(4) {
  border-bottom: 1px solid gray;
}

.campus-life-head a ul li p {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.campus-life-head a ul li img {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .campus-life-buttom-area {
    display: block;
    width: 309px;
    height: 58px;
  }

  .campus-life-buttom {
    margin-top: 55px;
    width: 309px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
  }
}

.campus-life-buttom img {
  width: 20px;
}

.campus-life-buttom::before {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-right: 1px solid white;
  position: absolute;
  left: 0;
}

.campus-life-buttom::after {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-left: 1px solid white;
  position: absolute;
  right: 0;
}

/* /campus-life */

/* admissions */

.admissions {
  margin: 0 30px;
  padding: 0 40px;
}

.admissions-border {
  width: 100%;
  margin-top: 150px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.admissions-title {
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  font-size: 3.1rem;
  letter-spacing: 0.1em;
}

.admissions-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: calc(2.44898vw + 20.81633px);
}

.admissions-img img {
  width: 33.5rem;
  height: 39rem;
  object-fit: cover;
  border-radius: 10px;
}

.admissions-link, .admissions-head {
  width: 100%;
}

.admissions-head a ul li {
  display: flex;
  position: relative;
  padding: 28px 0;
  border-top: 1px solid gray;
}

.admissions-head a ul li:nth-child(4) {
  border-bottom: 1px solid gray;
}

.admissions-head a ul li p {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.admissions-head a ul li img {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .admissions-buttom-area {
    display: block;
    width: 309px;
    height: 58px;
  }

  .admissions-buttom {
    margin-top: 30px;
    width: 309px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
  }
}

.admissions-buttom img {
  width: 20px;
}

.admissions-buttom::before {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-right: 1px solid white;
  position: absolute;
  left: 0;
}

.admissions-buttom::after {
  content: '';
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-left: 1px solid white;
  position: absolute;
  right: 0;
}

/* /admissions */

/* instagram */

.instagram {
  margin: 0 30px;
  padding: 0 40px;
}

.instagram-title {
  margin-top: 140px;
  display: flex;
  align-items: center;
}

.instagram-title h3 {
  font-size: 1.7rem;
}

.instagram-title p {
  color: gray;
  font-size: 1em;
  margin-left: 1.5em;
}

.instagram-contents {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 12px;
  margin-bottom: 70px;
}

.instagram-content a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /instagram */

/* line-account */

.line-account {
  margin: 0 30px;
  padding: 0 40px;
  display: flex;
}

.line-container {
  width: 100%;
}

.line-account-bg {
  width: 100%;
  display: flex;
  background-color: gray;
  padding: 45px 50px;
  position: relative;
  border-radius: 10px;
}

.line-account-main {
  display: flex;
  align-items: center;
}

.line-account-main img {
  width: 5.5rem;
}

.line-account-text {
  margin-left: 10px;
}

.line-account-copy {
  display: flex;
}

.line-account-text h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.line-account-icon {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}

.line-account-icon img {
  width: 2.5rem;
}

/* /line-account */

/* official-sns */

.official-sns {
  margin: 80px 30px 0 30px;
  padding: 0 40px;
  display: flex;
}

.sns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(2.44898vw + 20.81633px);
}

.sns-icon {
  display: flex;
  gap: 10px;
}

.sns-bg {
  background-color: gray;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns-bg a img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  transform: translateY(10%);
}

/* /official-sns */

/* cta */

.cta {
  margin: 200px 30px 0 30px;
  padding: 0 40px;
  display: flex;
}

.cta-container {
  width: 100%;
  display: flex;
  gap: calc(1.63265vw + 13.87755px);
  justify-content: center;
}

.cta1, .cta2 {
  width: 39.5rem;
  height: 23.5rem;
  border-radius: 15px;
  position: relative;
}

.cta1 {
  background-color: blue;
}

.cta2 {
  background-color: purple;
}

.cta1 a, .cta2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.cta-p {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  text-wrap: nowrap;
}

.cta-text1, .cta-text2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cta-text1 h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

.cta-text1 p {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 180%;
}

.cta-text2 h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.cta-text2 p {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 180%;
}

.cta1 img, .cta2 img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 3.8rem;
  height: 3.8rem;
}

.cta1 figure img {
  position: absolute;
  width: 9.3rem;
  height: 7.5rem;
  object-fit: cover;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}

/* /cta */

/* slider */

.slider-sec {
  margin-top: 120px;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-img {
  display: flex;
  width: 100vw;
}

.slider-img img:first-child {
  animation: loop 50s -25s linear infinite;
}

.slider-img img:last-child {
  animation: loop2 50s linear infinite;
}

@keyframes loop {
  0% {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
      transform: translateX(0);
  }
  to {
      transform: translateX(-200%);
  }
}

.slider-img img {
  min-width: 100vw;
  height: 100px;
  object-fit: cover;
}

.slider-img+.slider-img {
  margin-top: 30px;
}

.-reverse.slider-img img {
  animation-direction: reverse;
}

/* /slider */

/* footer */

.footer {
  background-color: gray;
  color: white;
  margin-top: 120px;
  padding-top: 160px;
  padding-bottom: 30px;
}

.footer .container {
  padding-left: 16px;
}

.footer-container {
  padding-left: 100px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  width: 50%;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  /* padding-right: 10px; */
}

.footer-address {
  margin-top: 30px;
  font-size: 1.1em;
  font-weight: 600;
}

.footer-contact {
  display: flex;
  margin-top: 40px;
  gap: 1.5rem;
}

.tel, .email {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
}

.email a {
  color: white;
}

.tel img, .email img {
  width: 1.4em;
  margin-right: 0.4em;
}

.footer-btn {
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
  padding: 12px 30px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-btn {
    max-width: 20rem;
  }
}

.footer-btn a {
  display: flex;
  align-items: center;
}

.footer-btn small {
  font-size: 0.6em;
  font-weight: 500;
  margin-top: 4px;
}

.footer-btn img {
  width: 1.3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
}

.footer-nav01-parent {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-nav01+.footer-nav01 {
  margin-top: 50px;
}

.footer-nav01-child {
  font-size: 0.85em;
}

.footer-nav01-child li {
  margin: 12.9px 0;
}

.footer-certification {
  margin-top: 80px;
}

.footer-certification a {
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
}

.footer-certification p {
  margin-top: 30px;
  font-size: 0.8em;
  text-wrap: nowrap;
  line-height: 190%;
  letter-spacing: 0.5px;
}

.footer-mid {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer-nav02 {
  display: flex;
  align-items: center;
}

.footer-nav02 li a {
  color: white;
  font-weight: 500;
  font-size: 0.9em;
}

.footer-nav02-1 {
  padding-right: 13px;
  border-right: 1px solid white;
}

.footer-nav02-2 {
  padding: 0 13px;
}

.footer-nav02-3 {
  padding-left: 13px;
  border-left: 1px solid white;
}

.footer-sns {
  display: flex;
  margin-right: 15px;
}

.footer-sns li:last-child {
  display: none;
}

.footer-sns li {
  padding: 0 21px;
}

.footer-sns li a img {
  width: 3em;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-copyright {
  font-weight: bold;
  font-size: 0.8em;
}

.footer-nav03 {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.footer-nav03 li a {
  color: white;
  padding-right: 30px;
  font-size: 0.7em;
}

/* /footer */

/* circle animation */

.circle1, .circle2, .circle3 {
  position: absolute;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: -100;
}

@media screen and (min-width: 768px) {
  .circle1 {
    top: 45%;
    right: 40%;
  }

  .circle2 {
    top: 60%;
    left: 12%;
  }

  .circle3 {
    bottom: 0;
    left: 20%;
  }
}

.text1, .text2, .text3 {
  color: skyblue;
  font-weight: 100;
}

.inner1, .inner2, .inner3 {
  position: relative;
  border-radius: 50%;
  animation: rotateAnim 30s linear infinite;
  animation-direction: reverse;
}

.inner1 {
  font-size: 100px;
  width: 1400px;
  height: 1400px;
}

.inner2 {
  font-size: 50px;
  width: 780px;
  height: 780px;
}

.inner3 {
  font-size: 100px;
  width: 1400px;
  height: 1400px;
}

@keyframes rotateAnim {
  0% { transform: rotate(0deg); }
  50%{ transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

/* /circle animation */


@media screen and (max-width: 767px) {

  /* header */

  .header-logo {
    display: flex;
    position: fixed;
    top: 10px;
    left: 10px;
  }

  .header-buttom {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
  }

  .header-buttom1, .header-buttom2 {
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
  }

  .header-buttom1 a, .header-buttom2 a {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-buttom1 a p, .header-buttom2 a p {
    margin-left: 3px;
    position: relative;
    top: 3px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
  }

  .hamburger {
    width: 60px;
    height: 60px;
    border-radius: 0 0 0 10px;
  }
  
  .hamburger p {
    position: relative;
    font-size: 0.75rem;
    top: 10px;
    font-weight: bold;
  }
  
  .bar {
    width: 20px;
    margin: 0 auto;
  }
  
  .bar-span {
    position: relative;
    bottom: 7px;
  }
  
  .bar-span::before {
    position: absolute;
    top: 7px;
  }
  
  .bar-span::after {
    position: absolute;
    top: 13px;
  }

  /* /header */

  /* mv */

  .mv {
    margin-top: 60px;
    padding: 10px;
  }

  .mv-container img {
    width: 100%;
    height: calc(35.10204vw + 298.36735px);
    border-radius: 10px;
    object-fit: cover;
  }

  .copy {
    bottom: calc(4.08163vw + 24.69388px);
    left: calc(6.12245vw + -7.95918px);
  }

  .copy-m {
    flex-direction: column;
  }

  .copy h1 {
    font-size: 3.5em;
    letter-spacing: 0.1em;
  }

  .copy p {
    font-size: 1em;
  }

  /* /mv */

  .bosyu-2024 {
    width: 73%;
    margin-bottom: 40px;
  }

  .bosyu-2024 h4 {
    font-size: 1rem;
  }

  .bosyu-2024 p {
    font-size: 0.85em;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bosyu-2024 p:last-child {
    margin-bottom: 10px;
  }

  /* pickup */

  .pickup-bg {
    margin-left: 2.2rem;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  .pickup-text {
    font-size: 0.8em;
  }

  .pickup-contents {
    margin-left: 15px;
  }

  .pickup-content p {
    font-size: 0.8em;
  }

  /* /pickup */

  /* features */

  .features {
    padding: 0 20px;
  }

  .features-border {
    margin-top: 50px;
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }

  .features-border::before {
    width: 94%;
  }

  .features-title {
    font-size: 2rem;
  }

  .features-contents {
    margin-top: 45px;
  }

  .features-content {
    width: 100%;
  }

  .features-heads {
    width: 100%;
    max-width: 676px;
  }

  .features-heads img {
    width: 100%;
  }

  .content-head {
    width: 98%;
    bottom: 90px;
  }

  .content-head span {
    font-size: 0.7em;
    top: 60px;
    left: 5px;
  }

  .content-head span::after {
    height: 70%;
    left: 10px;
    top: 30px;
  }

  .content-head h3 {
    font-size: 1.2em;
    padding: 40px 50px 20px 0;
    left: 30px;
  }

  .content-body {
    margin-top: 15px;
    margin-left: 5px;
    letter-spacing: 0.1em;
  }

  .content-body p {
    font-size: 0.75em;
  }

  /* /features */

  /* topics */

  .topics {
    padding: 0 20px;
  }

  .topics-border {
    margin-top: 220px;
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }

  .topics-border::before {
    width: 94%;
  }

  .topics-container {
    display: block;
    margin-top: 40px;
  }

  .topics-title p {
    font-size: 1.25em;
  }

  .topics-title p::before {
    margin: 0 15px 0 5px;
    height: 20px;
    top: 2px;
  }

  .topics-title p::after {
    margin: 0 15px;
    height: 20px;
    top: 2px;
  }

  .topics-title h2 {
    font-size: 2.5em;
    line-height: 2.5rem;
    margin-top: 30px;
  }

  .topics-title ul {
    margin-top: 40px;
    max-width: 100%;
  }

  .topics-title ul li {
    margin: 0 3px 27px 3px;
    padding: 2px 7px;
  }

  .topics-title ul li a {
    font-size: 0.7em;
  }

  .topics-buttom-area {
    margin: 0 auto;
    width: 290px
  }

  .topics-buttom {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.9em;
  }

  .topics-buttom img {
    margin-left: 8px;
  }

  .topics-body {
    margin-top: 40px;
    width: 100%;
    display: block;
  }

  .topics-content {
    width: 100%;
    margin-bottom: 30px;
  }

  .topics-content a img {
    width: 100%;
    height: 100%;
  }

  .content-date {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 20px 0 50px 0;
  }

  .content-title {
    font-size: 1.59rem;
    font-weight: bold;
  }

  .content-tag {
    margin-top: 15px;
    padding-top: 30px;
  }

  /* /topics */

  /* course */

  .course {
    padding: 0 20px;
  }

  .course-border {
    margin-top: 160px;
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }

  .course-border::before {
    width: 87%;
  }

  .course-title {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  .course-container {
    width: 100%;
    margin-top: 0;
    /* margin-right: calc(50% - 50vw); */
  }

  .course-img {
    margin-right: calc(50% - 50vw);
  }

  .course-img img {
    width: 100%;
    height: 100%;
  }

  .course-text {
    width: 61%;
    bottom: 60px;
    border-radius: 0 10px 0 0;
    right: 10px;
  }

  .course-text h4 {
    font-size: 1.8rem;
    left: 7px;
  }

  .course-text p {
    font-size: 0.3em;
    margin: auto 0 auto 30px;
  }

  .course-contents {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }

  .content2-head img {
    height: 100%;
  }

  .content2-body p {
    font-size: 1em;
  }

  .content2-body ul li {
    font-size: 0.7em;
    padding: 3px 4.5px;
    letter-spacing: 0.1em;
  }

  .course-contents {
    margin-bottom: 0px;
  }

  .course-img1 {
    border-radius: 60px 10px 10px 60px;
  }

  .course-img2 {
    border-radius: 10px 10px 160px 160px;
  }

  .course-img3 {
    border-radius: 10px 10px 10px 35px;
  }

  .course-img4 {
    border-radius: 40px 10px 10px 10px;
  }

  .course-img5 {
    border-radius: 45px 10px 10px 10px;
  }

  .course-img6 {
    border-radius: 60px 10px 10px 60px;
  }

  .course-img7 {
    border-radius: 10px 10px 160px 160px;
  }

  .course-img8 {
    border-radius: 10px 10px 10px 40px;
  }

  /* /course */

  /* open-campus */

  .open-campus {
    padding: 0 20px;
  }

  .open-campus-border {
    margin-top: 100px;
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }

  .open-campus-border::before {
    width: 94%;
  }

  .open-campus-title {
    margin-top: 25px;
    font-size: 2.2rem;
  }

  .open-campus-container ul {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .open-campus-container ul li {
    margin: 0 3px 27px 0;
    padding: 2px 7px;
  }

  .open-campus-container ul li a {
    font-size: 0.75em;
  }

  .open-campus-contents {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .open-campus-content {
    margin: 0;
  }

  .content-main {
    display: flex;
    gap: 20px;
  }

  .content3-head {
    width: 50%;
  }

  .content3-body {
    width: 50%;
  }

  .content3-body h4 {
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .content3-body h3 {
    font-size: 0.8em;
    margin-bottom: 5px;
  }

  .content3-body p {
    font-size: 0.6em;
  }

  .content-foot {
    margin-top: 0;
  }

  .open-campus-buttom-area {
    max-width: 18em;
    height: 3.5em;
    margin: 0 auto;
    display: block;
  }

  .open-campus-buttom {
    margin-top: 55px;
    height: 100%;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
  }

  .open-campus-banner {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .open-campus-banner div a img {
    width: 100%;
    height: 100%;
    margin: 0;
    aspect-ratio: 248 / 75;
  }


  /* /open-campus */

  /* campus-life */

  .campus-life {
    padding: 0 20px;
  }

  .campus-life-border {
    margin-top: 0;
    font-size: 0.05em;
    letter-spacing: 0.1em;
  }

  .campus-life-title {
    font-size: 2.3rem;
    margin-top: 20px;
  }

  .campus-life-container {
    flex-direction: column;
  }

  .campus-life-img {
    width: 100%;
  }

  .campus-life-img img {
    width: 100%;
    aspect-ratio: 67 / 78;
  }

  .campus-life-link {
    margin-top: 30px;
  }

  .campus-life-head a ul li {
    padding: 23.5px 0;
  }

  .campus-life-head a ul li p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }

  .campus-life-head a ul li img {
    right: 0.7em;
  }

  .campus-life-buttom-area {
    max-width: 18em;
    height: 3.5em;
    margin: 0 auto;
    display: block;
  }

  .campus-life-buttom {
    margin-top: 55px;
    height: 100%;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
  }

  .campus-life-buttom img {
    margin-left: 10px;
  }

  /* /campus-life */

  /* admissions */

  .admissions {
    padding: 0 20px;
  }

  .admissions-border {
    margin-top: 100px;
    font-size: 0.05em;
    letter-spacing: 0.1em;
  }

  .admissions-title {
    font-size: 2.3rem;
    margin-top: 20px;
  }

  .admissions-container {
    flex-direction: column;
  }

  .admissions-link {
    order: 2;
  }

  .admissions-img {
    order: 1;
    width: 100%;
  }

  .admissions-img img {
    width: 100%;
    aspect-ratio: 67 / 78;
  }

  .admissions-head a ul li {
    padding: 23.5px 0;
  }

  .admissions-head a ul li p {
    font-size: 0.9rem;
    margin-left: 0.7rem;
  }

  .admissions-head a ul li img {
    right: 0.7em;
  }

  .admissions-buttom-area {
    max-width: 18em;
    height: 3.5em;
    margin: 0 auto;
    display: block;
  }

  .admissions-buttom {
    margin-top: 55px;
    height: 100%;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
  }

  .admissions-buttom img {
    margin-left: 10px;
  }

  /* /admissions */

  /* instagram */

  .instagram {
    padding: 0 15px;
  }

  .instagram-title {
    margin-top: 75px;
  }

  .instagram-title h3 {
    font-size: 1.4rem;
  }

  .instagram-contents {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 40px;
  }

  .instagram-content:nth-child(n+7) {
    display: none;
  }

  /* /instagram */

  /* line-account */

  .line-account {
    padding: 0 15px;
  }

  .line-account-copy {
    flex-direction: column;
  }

  .line-account-copy h2 {
    font-size: 1.3em;
  }

  .line-account-bg {
    padding: 27px 20px;
  }

  .line-account-main img {
    width: 4.5rem;
    margin-right: 5px;
  }

  .line-account-text p {
    font-size: 0.8em;
  }

  .line-account-icon {
    right: 1.5rem;
    height: 1.7rem;
  }

  .line-account-icon img {
    width: 1.7rem;
  }

  /* /line-account */

  /* official-sns */

  .official-sns {
    margin: 40px 30px 0 30px;
  }

  .sns-container {
    flex-direction: column;
  }

  .sns-container p {
    font-size: 0.9em;
  }

  .sns-bg {
    width: 4.2rem;
    height: 4.2rem;
  }

  .sns-bg a img {
    width: 1.4rem;
    height: 1.4rem;
  }

  /* /official-sns */

  /* cta */

  .cta {
    margin: 80px 30px 0 30px;
    padding: 0px 16px;
  }

  .cta-container {
    flex-direction: column;
  }

  .cta1, .cta2 {
    width: 100%;
    height: 180px;
  }

  .cta-p {
    font-size: 0.7em;
    left: 10px;
  }

  .cta-text1 h1 {
    font-size: 2.1rem;
  }

  .cta-text2 h1 {
    font-size: 1.9rem;
  }

  .cta-text1 p, .cta-text2 p {
    font-size: 0.8em;
  }

  .cta1 img, .cta2 img {
    width: 2rem;
    height: 2rem;
  }

  /* /cta */

  /* slider */

  .slider-sec {
    margin-top: 65px;
  }

  .slider-img img {
    height: 50px;
  }

  .slider-img+.slider-img {
    margin-top: 15px;
  }

  /* /slider */

  /* footer */

  .footer {
    margin-top: 60px;
  }

  .footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-container {
    padding-left: 0;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-info {
    width: 100%;
    text-align: center;
  }

  .footer-address {
    margin-top: 25px;
    font-size: 0.9em;
  }

  .footer-contact {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .tel, .email {
    font-size: 1em;
    letter-spacing: 0.1em;
  }

  .footer-btn {
    margin-top: 25px;
    width: 100%;
  }

  .footer-btn a {
    justify-content: center;
  }

  .footer-btn img {
    width: 1em;
    right: 0.3em;
  }

  .footer-nav {
    display: block;
  }

  .footer-nav li:first-child {
    display: none;
  }

  .footer-nav01 {
    display: none;
  }

  .footer-nav01+.footer-nav01 {
    margin-top: 0;
  }

  .footer-certification {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-nav02 {
    display: none;
  }

  .footer-nav03 {
    display: none;
  }

  .footer-certification {
    margin-top: 30px;
  }

  .footer-certification p {
    margin-top: 0;
    margin-left: 1em;
    font-size: 0.5em;
    letter-spacing: 0.1em;
  }

  .footer-mid {
    margin-top: 35px;
    justify-content: center;
  }

  .footer-sns {
    margin-right: 0;
  }

  .footer-sns li {
    padding: 0 15px;
  }

  .footer-sns li:last-child {
    display: block;
  }

  .footer-sns li a img {
    width: 1.5em;
  }

  .footer-bottom {
    padding: 20px 0 35px 0;
  }

  .footer-copyright {
    margin: 0 auto;
    font-size: 0.5em;
  }

  /* /footer */

  /* circle animation */

  .circle1 {
    top: 40%;
    right: -60%;
  }

  .inner1 {
    font-size: 50px;
    width: 600px;
    height: 600px;
  }

  .circle2 {
    left: 0;
    bottom: -5%;
  }

  .inner2 {
    font-size: 2em;
    width: 390px;
    height: 390px;
  }

  .circle3 {
    left: -50%;
    top: 10%;
  }

  .inner3 {
    font-size: 45px;
    width: 600px;
    height: 600px;
  }

  /* /circle animation */

}

@media screen and (max-width: 567px) {
  .bosyu-2024 {
    width: 90%;
  }

  .bosyu-2024 p {
    margin: 20px;
  }
}
